.grid {
  border: 1px solid #cdcdcd;
  display: flex;
  flex-flow: row wrap;
  max-height: 500px;
  max-width: 500px;
}

.grid__cell {
  align-items: center;
  background-color: #fcfcfc;
  display: flex;
  font-size: 30px;
  height: 50px;
  justify-content: center;
  width: 50px;
}